In [1]:
import matplotlib.pylab as plt
import pandas as pd
# % matplotlib inline

# Data Analysis of Bike Sharing Dataset

In [2]:
# loading of original dataset
data = pd.read_csv('data/kaggle/train.csv', error_bad_lines=False)
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
data.loc[:,'T'] = round(data['temp'])
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,T
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,10.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,9.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,9.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,10.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,10.0

In [ ]:
# Temperature vs Count
data[['temp', 'atemp', 'count']].plot.scatter(x = 'temp', y = 'count', alpha=0.1)
plt.show()

data[['temp', 'atemp', 'count']].plot.scatter(x = 'atemp', y = 'count', alpha=0.1)
plt.show()

d = data[['temp', 'count']]

d['t'] = round(d['temp'])
del(d['temp'])
d = d.groupby('t').sum()
d.plot()
plt.show()

In [ ]:
import numpy as np

d.quantile(np.linspace(.1, 1, 9, 0)).plot()

In [ ]:
# Day of Year vs Count
import datetime as dt

def to_date(s):
    return dt.datetime.strptime(s, '%Y-%m-%d %H:%M:%S')

def to_day_index(s):
    d = dt.datetime.strptime(s, '%Y-%m-%d %H:%M:%S')
    return d.year * 1000 + d.toordinal() - dt.datetime(d.year, 1, 1).toordinal() + 1

d = data[['datetime', 'count']][data['datetime'] >= '2012-01-01']
d['month'] = d['datetime'].map(lambda x : to_date(x).month)
del(d['datetime'])
d = d[['month','count']].groupby(['month']).mean().reset_index()
d.plot(x = 'month', y = 'count', alpha=0.3)
plt.show()